<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if isHome %}
        {{ title }}
      {% else %}
        {{ title }} - {{ siteTitle }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <main>
      {% if not isHome %}
        <nav>
          <a href="/">{{ siteTitle }}</a>
        </nav>
      {% endif %}
      <article>
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </article>
    </main>
  </body>
</html>