---
title: Ilmastoloki
type: list
isHome: true
---

<ul>
  {% for post in search.pages("type=post", "date=desc") | data %}
    <li>
      <time datetime="{{ post.date | date('yyyy-MM-dd') }}">{{ post.date | date('d.M.yyyy') }}</time>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>