:root {
  --background-color: black;
  --text-color: white;
  --visited-color: #aaa;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  padding: 0.5rem;
}

a {
  color: var(--text-color);

  &:visited {
    color: var(--visited-color);
  }
}

main {
  max-width: 700px;
  margin: 0 auto;
}
